* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.header {
  position: fixed;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
  background-color: #fff;
  width: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.content {
  padding-top: calc(60px + 5vmin);
  display: flex;
}



