.movie-page {
    position: relative;
    display: flex;
    padding: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
}

.movie-page__title {
    text-align: left;
    color: #1897f2;
}

.movie-page__list, .movie-page__genres-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.movie-page__content {
    text-align: Justify;
    width: 500px;
}

.movie-page__genres-list {
    padding-left: 0;
}

.movie-page__genres-item {
    text-align: left;
}

.movie-page__button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border-color: tomato;
    background-color: tomato;
    color: #fff;
    z-index: 999;
    transition: all 150ms ease;
    
}

.movie-page__button:hover {
    background-color: #1897f2;
    border-color: #1897f2;
    font-size: calc(9px + 0.34em);
    transform: scale(1.1);
}