

.nav {
    margin: auto 20px;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: left;
    align-items: center;
    padding: 0;
}

.nav-item {
    &__home  {
        text-decoration: none;
        color: #000;
        transition: all 500ms ease
    }

    &__movies {
        text-decoration: none;
        color: tomato;
        transition: all 500ms ease
    }

    &__home:hover, &__movies:hover {
        color: #1897f2;
        font-size: calc(12px + 2vmin);
    }
}

.nav-item:first-child {
    margin-right: 20px;
}

.active {
    color: #1897f2;
    font-size: calc(12px + 2vmin);
}